<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burger App</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>

		  <div class="container">
          <h1 class="centertitle">Favorite Burgers</h1> 
           <img src="/assets/img/burger.png" alt="burger" class="center" height="150" width="150">
        </div>
      </div>

		{{{ body }}}
	</body>
</html>